<!doctype html>
<html>

<head>
   <title>Clementine.js - The elegant and lightweight full stack JavaScript boilerplate.</title>
   <link href="/public/css/bootswatch-journal.min.css" rel="stylesheet" type="text/css">
   <link href="/public/css/main.css" rel="stylesheet" type="text/css">
</head>

<body>
   <div class="container">
      <div class="form-group">

         <form action="/newpoll" method="post" enctype="application/x-www-form-urlencoded">
            <fieldset>
               <legend>Create a New Poll</legend>
               Name of Poll: <br>
               <input class="form-control" type="text" name="polltitle" placeholder="Name of Poll"><br><br>
               <div id="form-hook">
                  <input class="form-control" type="text" name="option1" placeholder="Option 1"><br>
                  <input class="form-control" type="text" name="option2" placeholder="Option 2"><br>
               </div>
               <button type="button" class="btn btn-newfield">New Field</button>
               <input type="submit" class="btn" value="Submit">
            </fieldset>
         </form>
      </div>
   </div>
	<script type="text/javascript" src="controllers/newPollController.client.js"></script>

</body>

</html>