<!DOCTYPE html>

<html>

	<head>
		<title>Clementine.js - The elegant and lightweight full stack JavaScript boilerplate.</title>
		<link href="/public/css/bootswatch-journal.min.css" rel="stylesheet" type="text/css">		
		<link href="/public/css/main.css" rel="stylesheet" type="text/css">
	</head>

	<body>

		<div class="container">
         <h1>Individual Poll Page</h1>
		</div>		
      <div class="container">
         <h3 id="pollTitle">{{ poll.title }}</h3> by <span id="pollAuthor">{{ poll.author.github.displayName }}</span>
      </div>
		<div>
			{% for field in poll.fields %}
	      <div>
            <h4 id="">{{ field.name }}: <span>{{ field.votes }} </span>
         </div>			
			{% endfor %}
		</div>
      <br>

		<!--  note these resources go back one directory otherwise looks from /poll/-->
		<script type="text/javascript" src="../common/ajax-functions.js"></script>
		<script type="text/javascript" src="../controllers/userController.client.js"></script>
		<script type="text/javascript" src="../controllers/profileController.client.js"></script>
	</body>

</html>