<!DOCTYPE html>

<html>

	<head>
		<title>rs-votemaster</title>
		<link href="/public/css/bootswatch-journal.min.css" rel="stylesheet" type="text/css">		
		<link href="/public/css/main.css" rel="stylesheet" type="text/css">
	</head>

	<body>

			<a href="/logout" style="text-decoration: none; color: white">
				<button class="btn btn-large btn-info" >Logout</button>
			</a>
			<a href="/" style="text-decoration: none; color: white">
				<button class="btn btn-large btn-default" >Go Back</button>
			</a>
		</div>
		<h1 class="text-center">Dashboard: <span id="display-name" class="profile-value"></span></h1>

		<br>
		<div class="container">
			<div class="panel pnl-newpoll">
				<div class="form-group form-newpoll">
					<input class="form-control fc-newpoll-title"  id ="newPollTitle" maxlength="28" type="text" placeholder="Title of New Poll">
					<br>
					<br>
					<input class="form-control fc-newpoll-option" id="option1" maxlength="28" type="text" placeholder="Option 1">
					<br>
					<input class="form-control fc-newpoll-option" id="option2" maxlength="28" type="text" placeholder="Option 2">
				</div>
				<button class="btn btn-info" onclick="addFieldToNewPoll()">Add Option</button>
				<button class="btn btn-success" onclick="submitNewPoll()">Submit</button>
			</div>

		</div>
		<br>
		<div class="container">
			<div class="poll-container" id="poll-holder">
			</div>
		</div>
				
		<script src="//d3js.org/d3.v3.min.js"></script>		
		<script type="text/javascript" src="common/encoding.js"></script>
		<script type="text/javascript" src="common/ajax-functions.js"></script>
		<script type="text/javascript" src="common/barcharts.js"></script>
		<script type="text/javascript" src="controllers/userController.client.js"></script>
		<script type="text/javascript" src="controllers/profileController.client.js"></script>
	</body>

</html>